
:root {
    --body-background-color: #E5E5E5;
    --header-background-color:#ECECEC;
    --header-logo-color:#000000;
    --main-title-color:#212121;
    --second-title-color:#757575;
    --accent-color:#2196F3;
    --hero-title-color:#FFFFFF;
    --hero-btn-color:#188ce8;
    --hero-background-color:#2F303A;
    --team-background-color:#F5F4FA;
    --team-item-background-color:#FFFFFF;
    --footer-background-color:#2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --projects-btn-background-color: #F5F4FA;
    --projects-item-background-color:#EEEEEE;
    --typical-padding: 94px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;}

ul, ol {
    margin: 0;
    padding-left: 0;}

button {cursor: pointer;}



body {
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    background-color: var(--body-background-color);

}

img {
    display: block;
}

.container {
    width: 1200px; 
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
    
}

.list {
    list-style: none;
}
.link,.header-logo,.footer-logo {
    text-decoration: none;
}

/*----------------------HEADER----------------------*/


.first-part-logo {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background-color: var(--hero-title-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header-background-color);
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
    
    margin-right: 94px;
}

.header .container {
    display: flex;
    align-items: center;
        }

.header-list {
    display: flex;
    align-items: center;
  
}      

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover,
.header-link:focus {color: var(--accent-color);}

.header-link-contacts:hover,
.header-link-contacts:focus {color: var(--accent-color);}


.header-contacts {
    margin-left: auto;
}

.header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color)}

.current {
    color: var(--accent-color);
}

.header-link-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

/*---------------------------HERO----------------*/

.hero .container {
    width: 696px;
    margin: 0 auto;
   
  }

.hero {
    background-color: var(--hero-background-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    padding: 200 452 280 452;
    

    margin-bottom: 30px;
}

.hero-btn:hover,
.hero-btn:focus {
      background-color: var(--hero-btn-color);
}
.hero-btn {
    font-family:inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    border-radius: 4px;

    margin: 0 auto;
    display: block;
    margin-top: 30px;}

.btn {cursor: pointer;}

/*-------------------------BENEFITS---------------------*/

.benefits {
    background-color: var(--hero-title-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.benefits-list {
    display: flex;
}

.benefits-item:not(:last-child) {
    margin-right: 30px;

}
.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);

    margin-bottom: 10px;
}


.benefits-text {
    line-height: 1.71;
    color: var(--second-title-color)}

/*---------------------DIRECTIONS---------------------*/
.directions {
    background-color: var(--hero-title-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.directions-list {
    display: flex;
}
.directions-item:not(:first-child) {
    margin-left: 30px;
}
.directions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-title-color);

    margin-bottom: 50px;
}


/*-----------------------TEAM---------------------*/


.team {
    background-color: var(--team-background-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);

}

.team-list {
    display: flex;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-title-color);

    margin-bottom: 50px;
    
}

.team-item {
    background-color: var(--team-item-background-color);
}
.team-item:not(:first-child) {
    margin-left: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-title-color);

    margin-top: 30px;
    

}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-title-color);

    margin-top: 10px;
    
}

/*-----------------------FOOTER---------------------*/
.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hero-title-color);
    
   }



.footer-contacts {
    font-style: normal;
    margin-top: 20px;
}

  


.footer-link-address {
    line-height: 1.71;
    color: var(--hero-title-color);
   }
.footer-link-address:hover,
.footer-link-address:focus {color: var(--accent-color);}


.footer-link-contacts {
    line-height: 1.71;
    color: var(--footer-link-color);
}
.footer-link-contacts:hover,
.footer-link-contacts:focus {
    color: var(--accent-color);
}

.projects {
    background-color: var(--hero-title-color);

    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.project-btn:hover,
.project-btn:focus {
    background-color: #2196F3;
    color: var(--hero-title-color);

}



.project-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--main-title-color);
    background-color: var(--projects-btn-background-color);
    border-color: var(--projects-item-background-color);
    border-radius: 4px;
}
.projects-list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.projects-item-btn {
    padding: 6px 22px;
}

.projects-item-btn:not(:first-child) {
    margin-left: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    
.projects-item {
    background-color: var(--projects-item-background-color) ;
   
    flex-basis: calc(100%/3-30px);
    margin: 15px;
    
      }

.projects-item:nth-child(3n + 1) {
    margin-left: 0;
}     

.projects-item:nth-child(3n) {
    margin-right: 0;
}   
   
.projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}


.container-name {
    background-color: var(--hero-title-color);
    border: 1px solid var(--header-background-color);
  
}     

    


.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);}

.projects-text {
    font-size: 16px;
    line-height: 1.88;    
    color: var(--second-title-color)}